{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">PRODUCT WORLD</h1>
      <p>My Awesome Cart Pvt Ltd. is a Indian e commerce company developed by 
        the the Team trio group. Team trio group was found by members SHUBHAM RANE,
        DUMBI RANE.
        My Awesome Cart started as small door to door delivery service of essential 
        items during the COVID-19 pandemic. Due to their timely and fast deliveries
       and very reasonable prices in a time of need they received a huge positive 
       feedback from the community which helped them develop into a established business 
       in the Indian E-commerce industry. My Awesome Cartis now on path of continuous
        growth to compete with other established e-commerce companies in India.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>SHUBHAM RANE</h2>
        <p>6119006</p>
        <a href="#" >raneshubham111@gmail.com</a>
      </div>
      <div class="col-md-4">
        <h2>DUMBI RANE</h2>
        <p>6119011</p>
        <a href="#" >dumbirane61@gmail.com</a>
      </div>
      
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
